.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 1rem;
}

/* Header */
.header {
  grid-area: header;
  background: lightblue;
  padding: 1rem;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background: pink;
  padding: 1rem;
}

/* Main */
.main {
  grid-area: main;
  background: beige;
  padding: 1rem;
  text-align: left;
}

/* Footer */
.footer {
  grid-area: footer;
  background: red;
  padding: 1rem;
  text-align: left;
}

/* Navigation horisontell i header */
.header nav {
  display: flex;
  gap: 1rem;
}

/* Navigation vertikal i sidebar */
.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

#root {
  text-align: center;
}

#post {
  width: 960px;
  margin: 20px auto;
  border: 3px solid skyblue;
  padding: 10px;
}


#comment-section {
  border: 3px solid purple;
  padding: 10px;
  margin-top: 10px;
  
}

.comment {
  display: flex;
  justify-content: center;
}

.author-info {
  border: 3px solid green;
  margin-bottom: 20px;
}
.liked {
  background-color: hotpink;
  color: white;
}

